body {
  font-family: 'garet';
}

#logo {
  max-width: 500px;
}

#root {
  background-color: #342A21;
  min-height: 100vh;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #CFC6C3;
  height: 100vh;
}

.footer {
  bottom: 0 !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;

}

@font-face {
  font-family: 'zoika';
  src: url('./fonts/Zoika.ttf');
}

@font-face {
  font-family: 'garet';
  src: url('./fonts/Garet-Book.otf');
}

.App-header {
  font-size: 130px;
  color: #CFC6C3;
  font-family: 'zoika';
}

.App-subheader {
  font-size: 20px;
  letter-spacing: 3px;
  margin: 0px;
  color: #CFC6C3;
  font-family: 'garet';
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
